<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @link.title %>
</p>

<p>
  <b>Url:</b>
  <%= @link.url %>
</p>


<%= link_to 'Edit', edit_trip_link_path(@link.trip, @link) %> |
<%= link_to 'Back', trip_links_path(@link.trip) %>
